.meal-card {
  border: 2px solid #2ec5b6;
  border-radius: 4px;
  padding: 0px;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: scale(1.02);
    background: rgba(#2ec5b6, 0.2);
  }

  h2, h3 {
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  h2 {
    padding-top: calc(1.1rem + 10px);
  }

  .meal-category {
    position: absolute;
    top: 0;
    right: 0;
    background: #2ec5b6;
    border-bottom-left-radius: 10px;
    padding: 3px 10px 5px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 1;
    cursor: pointer;
  }

  img {
    width: 100%;
    margin-bottom: -4px;
    margin-top: auto;
  }

  .meal-recipe-container {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    cursor: auto;

    h3 {
      position: relative;
      padding: 0;
      background-size: cover;
      background-position: center;
      span {
        padding: 20px 0;
        display: flex;
        width: 100%;
        width: 100%;
        background-color: rgba(#fff, 0.6);
        backdrop-filter: blur(2px);
        align-items: center;
        justify-content: center;
      }
    }
  }

  .meal-recipe {
    overflow: auto;

    h4 {
      margin: 10px;
    }

    ul {
      margin: 0;
    }

    p {
      margin: 10px;
      text-align: justify;
      white-space: pre-line;
    }
  }
}