.reveal-down-enter {
    height: 0px;
  }
  
  .reveal-down-enter-done {
    height: 140px;
  }
  
  .reveal-down-exit {
    height: 140px;
  }
  
  .reveal-down-exit-done {
    opacity: 0;
    height: 0px;
  }
  